@import "./variables.scss";
@import "./mixins.scss";

.about {
  .container {
    max-width: $container-width;
    padding: 0 $container-padding;
    margin: auto;
  }
  
  &-container {
    max-width: $container-width;
    margin: auto;
    padding: $section-padding-mobile 20px;
    display: flex;
    flex-direction: column;

    @include respond-to("medium") {
      padding: $section-padding 20px;
    }
  }

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    @include xlarge-font();
    margin-bottom: 40px;
  }

  &-imageWrapper {
    width: 400px;
    max-width: 100%;

    @include respond-to("medium") {
      width: 500px;
    }
  }

  &-description {
    padding: 0 20px;
    text-align: justify;
    @include medium-font();

    @include respond-to("small") {
      text-align: left;
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;
      @include large-font();
    }
  }
}

.developerGroups {
  background-color: $background-medium;
  color: $body-light;
  @include medium-font();

  h2 {
    @include large-font();
    margin-bottom: 40px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  ul li {
    width: (1 / 3) * 100%;
    margin-bottom: 20px;
  }

  a {
    @include link-border();
  }
}

.galleryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: -20px;
}

.galleryList-item {
  width: 350px;
  margin-bottom: 20px;
}

.organizers {
  @include medium-font();

  &-title {
    text-align: center;
    margin-bottom: 40px;
    @include large-font();

    @include respond-to("small") {
      margin-bottom: 80px;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &-listItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }

  &-listItemImage {
    margin-bottom: 20px;
    border-radius: 3px;
    width: 150px;
  }

  &-listItemName {
    font-weight: 400;
  }
}
