@import "./variables.scss";
@import "./mixins.scss";

.container {
  max-width: $container-width;
  padding: 0 $container-padding;
  margin: auto;
}

.home-sectionTitle {
  @include xlarge-font;
  margin-bottom: 30px;
}

.header {
  height: 450px;
  background: $background-gradient;

  @include respond-to("medium") {
    height: 575px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;

    @include respond-to("small") {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &-image {
    height: 150px;
    margin-bottom: 30px;

    @include respond-to("small") {
      height: 200px;
      margin-bottom: 0;
    }

    @include respond-to("medium") {
      height: 300px;
    }
  }

  &-detailsContainer {
    color: $body-light;
    width: 400px;
    text-align: center;
    cursor: default;

    @include respond-to("small") {
      flex-basis: 430px;
      text-align: left;
      width: 50%;
      align-items: flex-start;
    }

    @include respond-to("medium") {
      flex-basis: 500px;
    }
  }

  &-tagline {
    @include xlarge-font();
    margin-bottom: 25px;
  }

  &-link {
    @include large-button();
  }
}

.upcomingMeetup {
  color: $body-dark;
  @include medium-font;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-link {
    @include large-button();
    margin-top: 40px;
  }
}

.ctaBlock {
  position: relative;
  color: $body-light;

  @include respond-to("medium") {
    @include medium-font();
  }

  &-container {
    display: flex;
    flex-direction: column;

    @include respond-to("medium") {
      flex-direction: row;
    }
  }

  &-pattern {
    border-left: 50px solid $highlight;
    display: flex;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: white;
    background-color: $background-dark;
    transition: color $medium-transition-duration ease-in-out;
    margin: 20px;

    @include respond-to("medium") {
      flex-direction: row;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }


    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $highlight;
      transform-origin: center left;
      transform: scaleX(0);
      transition: transform 0.25s ease-in-out;
    }

    &:hover {
      color: $body-dark;
    }

    &:hover::before {
      transform-origin: center left;
      transform: scaleX(1);
    }
  }

  &-container {
    height: 100%;
    position: relative;
  }

  &-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 200px;

    @include respond-to("small") {
      padding: 40px;
    }
  }

  &-ctaHeading {
    @include large-font();
  }

  &-ctaDescription {
    @include medium-font();
  }
}

.recentMeetups {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    display: flex;
    justify-content: center;
  }

  &-meetup {
    margin: 20px 0;

    @include respond-to("medium") {
      margin-bottom: 40px;
    }
  }

  &-link {
    @include large-button();
  }
}
