@import "./variables.scss";
@import "./mixins.scss";

.sponsorsPage {
  &-container {
    padding: $section-padding-mobile 20px;
    display: flex;
    flex-direction: column;

    @include respond-to("medium") {
      padding: $section-padding 20px;
    }
  }

  &-title {
    @include xlarge-font();
    margin-bottom: 20px;
    text-align: center;
    align-self: center;

    @include respond-to("medium") {
      margin-bottom: 40px;
    }
  }

  &-description {
    @include medium-font();
    width: 900px;
    max-width: 100%;
    margin: 0 auto 40px;
  }

  &-ctaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  &-ctaText {
    @include medium-font();
    margin-right: 40px;
    font-weight: 400;

    @include respond-to('medium') {
      font-size: 26px;
    }
  }

  &-ctaLink {
    @include large-button($background-dark);
  }

  &-sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-sponsor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    padding: 20px 30px 40px;
    border: 3px solid $highlight;
    border-radius: 2px;
    position: relative;
  }

  &-sponsorImage {
    width: 140px;
  }

  &-sponsorName {
    @include small-font();
    font-weight: 500;
    position: absolute;
    bottom: 20px;
  }
}
