@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
  background-color: $background-footer;
  @include medium-font;
  color: $body-light;
  padding: 40px 20px 50px;

  @include respond-to("small") {
    padding: 40px 20px;
    height: $footer-height;
  }

  &-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    max-width: $container-width;
    padding: 0 $container-padding;
    margin: auto;

    @include respond-to("small") {
      flex-direction: row;
    }
  }
  
  &-socialMenu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    
    @include respond-to("small") {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  &-socialMenuItem {
    padding: 15px 10px;
  }

  &-socialLink {
    @include medium-font;
    font-weight: 400;
    text-decoration: none;
    color: $menu-inactive;
    display: flex;
    align-items: center;

    &:hover {
      color: $menu-active;
    }
  }

  &-socialLinkIcon {
    width: 40px;
    margin-right: 20px;
  }

  &-bottom {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    @include respond-to("small") {
      margin-top: auto;
    }
  }

  &-bottomIcon {
    width: 40px;
    animation: spin 4s linear 0s infinite;
  }

  &-bottomText {
    @include small-font;
    margin-top: 20px;
  }
}

@keyframes spin { 100% { transform: rotate(360deg); } }